body {
  margin: 5rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 87, 122);
  font-family: "Pixelify Sans", sans-serif;
}
.sketch-holder{
  display: flex;
  position: relative; 
}
video{
  position: relative;
}

.win-count{
  color: rgb(135, 236, 250);
  font-size: 2rem;
}

button{
  font-family: "Pixelify Sans", sans-serif;
  position: absolute;
  top:60%;
  left: 37%;
  background-color: #00992e;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  display:none;
}